.content {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #F7F7F7 !important;
  height: calc(100vh - 65px);
  width: 100%;
  z-index: 5000;
}

.toolbar {
  width: 100%;
}
