.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  display: flex;
  flex-direction: column;
  background-color: #1a1c1e;
  height: 100%;
  width: 200px;
  z-index: 1500;
  transition: transform 0.3s ease-in-out;
}

.sidebarOpen {
  transform: translateX(200px);
}

.menu {
  margin-top: 2rem;
}

.menuItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: #848688 !important;
}

.menuItem:hover {
  color: #bfc1c2 !important;
}

.menuItem:hover svg {
  color: #bfc1c2 !important;
}
