.navbar {
  background-color: #fff !important;
  color: #131426 !important;
}

.menuButton {
  margin-right: 1rem;
}

.title {
  flex-grow: 1;
  font-family: "Poppins", sans-serif !important;
  margin-left: 20px;
}

.loginButton {
  margin-left: 1rem;
  font-family: "Poppins", sans-serif !important;
}

.notificationMenu {
    position: absolute;
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
